<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Admin</title>
    <style>
        {% block styles %}
        {% endblock %}
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
{% include 'shared/logged_user_and_logout.html.twig' %}
{% block main %}
{% endblock %}
</body>
</html>
