
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/microblog.css">
</head>
<body>
<div class="header">
    <h2>Microblog</h2>
</div>

<div class="row">
    <div class="leftcolumn">
        {% for post in posts %}
            <div class="card">
                <h2>{{ post.title }}</h2>
                <h5>Created by {{ post.author.username }} on {{ post.createdAt|date('Y-m-d H:i') }}</h5>
                {{ post.content|raw }}
            </div>
        {% endfor %}
    </div>

    {% include 'shared/pagination.html.twig' with {pages: (posts.count/10)|round(0, 'ceil'), route: 'home'} %}
</div>

</body>
</html>
