{% extends '/admin/base.html.twig' %}
{% block title %}
    Create Post
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/admin/form.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}
{% block main %}
    {% if error is defined and error == true %}
        <p class="error">{{ errorMessage }}</p>
    {% endif %}
    {% include 'admin/posts/post_form.html.twig' with {post: post} %}
{% endblock %}